[Desktop Entry]
Type=Service
MimeType=inode/directory;
Actions=trackIsWatched;
X-KDE-Priority=TopLevel

[Desktop Action trackIsWatched]
Name=Track watched episodes here
Icon=video-x-generic
Exec=the_watcher_terminal_select %f
